@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body{
  padding:1rem ;
}
.header{
  margin: auto;
  padding: 6px;
  height:15vh;
  width: 100vw;
}

.logoutButton{
  font-family: karla;
  height: 26px;
  width: 120px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #29E252;
}

