@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body{
  padding:1rem ;
}

.oceanQlin{
  font-family: karla;
  color: #29E252;
  font-size: 20px;
}

.header{
  margin: auto;
  padding: 1rem;
  height:15vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logoutButton{
  font-family: karla;
  height: 26px;
  width: 100px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #29E252;
}

.buttonHome{
  font-family: karla;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background-color: #29E252;
  color: white;
}

.footer{
  background-color: rgba(3, 52, 116, 0.849);
  font-family: karla;
  color: white;
  font-size: 10px;
  padding: 6px;
  height:15vh;
  width: 100vw;
}

.imgHome{
  height: 35vh;
  width: 100vw;
  background-color: #032E61;
  color: white;
  font-family: karla;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.home{
  height: 150vh;
  width: 100vw;
  font-family: karla;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  font-size: 10px;
  background-color: white;
  margin: auto;
  padding: 1rem;
  height:15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: karla;
}
.headerLeft{
  font-size: 20px;
  color:black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  height: auto;
  width: 25%;
}

.botoes{
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin: auto;
  list-style: none;
  padding: 60px;
  gap:60px;
}
.Home{
  height: 150vh;
  width: 100vw;
  font-family: karla;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul{
  display: flex;
  align-items: center;
}
li{
  padding: 1rem;
}