@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body{
  padding:1rem ;
}
.header{
  margin: auto;
  padding: 6px;
  height:15vh;
  width: 100vw;
}

.logoutButton{
  font-family: karla;
  height: 26px;
  width: 120px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #29E252;
}

.buttonHome{
  font-family: karla;
  height: 120px;
  width: 26px;
  border-radius: 5px;
  background-color: #29E252;
}

.footer{
  background-color: rgba(3, 52, 116, 0.849);
  font-family: karla;
  color: white;
}

.imgHome{
  height:35%;
  width: 100%;
}

.home{
  height: 150vh;
  width: 100vw;
  font-family: karla;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  font-size: 10px;
  background-color: white;
  margin: auto;
  padding: 6px;
  height:15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: karla;
}
